
body{
  color: #40514E;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  /*or we can write  margin:0;*/
  text-align: center;

}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h3{
  font-family: Courier New,sans-serif;
  color: #11999E;
}
h2{
  font-size: 2.4rem;
  font-weight: normal;
  color: #66BFBF;
}

h1{
  font-size: 5.52rem;
  color: #66BFBF;
  margin-top: 0px;
  font-family: 'Sacramento', cursive;
}
h4{
  color: #fcd1d1;
}
.skill-row{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 120px;
  text-align: left;
  line-height: 2;
}
.profile{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.skill-img{
  width: 35%;
  float: left;
}

.top-container{

  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;

}
.wings{
  background-color: #cccccc;
}
.middle-container{

margin-top: 100px;
}
.last-container{
background-color: #66BFBF;
padding: 20px 0 20px;
font-size: 25px;
font-family: 'Sacramento', cursive;

}


.profile-pic{

  border-radius: 100%;

}
p{
  line-height: 2;
}

.intro{
  width: 30%;
  margin: auto;
}
a{
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
a:hover{
  color: #b67171;
  text-decoration: underline;
}
